html, body, #root {
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;

}

* {
  box-sizing: border-box;
}
*:focus {
  outline: none;
}

.new-message-list-item {
  background-color: rgba(0,0,0,0.1)!important;
}